<section class="blog-area blog-page" id="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="single-post">
                    <form action="login" method="POST" role="form">
                        <div class="post-details">
                            <label>Username</label>
                            <input type="text" placeholder="Enter username" required="true" name="username">
                            <label>Password</label>
                            <input type="password" placeholder="Enter password" required="true" name="rawPWD">
                            <button type="submit" name="login-submit"><a href="blog/blog-index"><span>Login</span></a></button>  
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>